@import 'bourbon';
@import 'bourbon-neat';
@import 'base/base';
@import 'react-select/scss/default';

%column-block {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	width: 100%;
	padding: 1em;	
}

%lists {
	ul {
		padding: 1em 0 1em 1em;
	}
}

	.question-list {
		@extend %lists;
	}

	.answer-list {
		@extend %lists;
	}

	.result-list {
		@extend %lists;
	}

.question-wrapper {
	@extend %column-block;

	&:container("width >= 800px") {
		width: 66.66666%;
	}
}

	.answer-wrapper {
		padding: 1em 0 1em 1em;
	}

.result-wrapper {
	@extend %column-block;

	&:container("width >=800px") {
		width: 33.333333%;
	}
}

.action-wrapper {
	text-align: right;
}

%input-block {
	&:container("width >=600px") {
		display: flex;
		text-align: right;
	}	
}

	.add-question {
		@extend %input-block;
	}

	.add-result {
		@extend %input-block;
	}

	.question-header {
		@extend %input-block;

		form {
			margin-left: auto;
		}
	}

	.add-answer {


		//@extend %input-block;
	}
